:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --site-devs-text-color: rgba(255, 255, 255, 0.4);
    --secondary-bg-color: #F5F4FA;
    --work-title-bg: rgba(47, 48, 58, 0.8);
    --footer-bg-color: #2F303A;
    --clients-logos-bg: #AFB1B8;
    --ftr-social-logos-bg: rgba(255, 255, 255, 0.1);
    }
  
  /* General styles */
    body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    }
    ul{
    list-style: none;
    }
    .link {
        text-decoration: none;
        color: var(--primary-text-color);
    }
    
    /* Logo  */
    .logo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        }
        .logo-style{
            color: #000000;
        }
     /* Website nav */
    .nav {
        position: absolute;
        width: 281px;
        height: 16px;
        left: 453px;
        top: 32px;
    }
    .nav .link:hover,
    .nav .link:focus {
        color: var(--accent-color);
    }
     

